main {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 40px 0;
}
.container {
  border-radius: 40px;
  width: 80vw;
  padding: 10px;
  box-shadow: 5px 5px 10px var(--bg-shades), -5px -5px 10px var(--bg-shades);

  display: flex;
  align-items: center;
  flex-direction: column;
}
/* Header */
.container .header {
  border-bottom: 3px solid var(--primary);
  font-size: 40px;
  padding: 5px;
  width: 100%;
}

/* Cards */
.cards {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.card,
.donateArea {
  background-color: var(--primary);
  width: 500px;
  height: 200px;
  border-radius: 40px;
  box-shadow: 5px 5px 10px var(--bg-shades);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.card p {
  font-size: 38px;
  margin: 20px;
}

.donateArea {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donateArea p {
  font-size: 55px;
  margin: 20px;
}


/* Buttons */

/* Github button */ 
.card .github {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  outline: none;
  border: none;
  background-color: #181717;
  color: var(--font);
  width: 200px;
  height: 50px;
  font-size: 32px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.card .github:hover {
  transform: scale(1.05);
}

/* Donate button */
.donate {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
  background-size: 800% 400%;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 36px;
  font-weight: 700;
  color: white;
  transition: all 0.5s ease-in-out;
  animation: gradient 10s infinite cubic-bezier(0.62, 0.28, 0.23, 0.99) both;
}

.donate:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
}

.donate:active {
  animation: gradient 3s infinite;
  transform: scale(0.8);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}